@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
.App {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 18px;
}
* {
  background-color: grey;
}
.tunrlogo {
  color: white;
  text-align: left;
  padding-left: 20px;
}
.slogan {
  text-align: right;
  padding-right: 20px;
  border-bottom: 3px solid;
}
.playlist-name {
  text-align: left;
  padding-left: 20px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  border-bottom: 3px solid;
}
.fav-song {
  text-align: left;
  padding-left: 20px;
}
.fav-song-container {
  border-bottom: 3px solid;
}